# OS files
.DS_Store
Thumbs.db
Desktop.ini

# IDEs and editors
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
kita_backend/bin/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Local & environment files
*.local
local.properties
.env
